* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: black;
    justify-content: space-between;
    /* top right bottom left */
    padding: 0px 30px 0px 30px;
}



/* extra added login-btn */
header img{
    width: 100px;
    height: 30px;
}



.login-btn{
    background: red;
    border: none;
    border-radius: 10px;
    padding: 5px 6px;

}
.login-btn:hover{
    color: white;
    background: darkred;
}

/* extra ended  */



nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

a:hover {
    color: red;

}

.hero {
    height: 90vh;
    background: url("./images/background.jpeg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: darkred;
}

.video-section{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.video-text{
    flex: 1;
}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius: 10px;
}

.video-text h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.video-text p{
    font-size: 18px;
    color: #444;
}

.about{
    text-align: center;
    padding: 60px 20px;
    background-color:white;
    
}

.about h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0,0.615);
}

.about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
}

footer{
    background-color: #111111;
    color: #cccccc;
    padding: 40px;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

footer a{
    text-decoration: none;
    color: #cccccc;


}
footer ul{
    list-style: none;
    display: block;
    padding: 0;
}
.footer-box h2{
    margin-bottom: 15px;
}

.footer-box h3{
    margin-bottom: 15px;
}

.social-icons a{
      display: inline-block;
      margin-right: 20px;
      font-size: 20px;
      padding: 10px;
      border-radius: 50%;
      color: #ccc;
      background: #222;
    }

.social-icons a:hover{
    color: red;
    background: white;
}


.footer-bottom{
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #333;
    padding-top:10px ;
    font-size: 14px;
}






.category-icons{
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    background: #ffffff;
    justify-content: center;
}

.icon-box{
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.icon-box img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    padding: 5px;
}

.icon-box p{
    margin-top:8px ;
    font-size: 14px;
}

.icon-box img:hover{
    margin-top: 8px;
    font-size: 14px;

}

.icon-box p:hover{
    color: red;
}



.menu-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}

.card img{
    width: 100%;
    object-fit:cover;
}

.card{
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;

    box-shadow: 0px 4px 10px black;
    /* box-shadow: horizontal-offset  vertical-offset  blur-offset; */
}

.deals-page{
    padding: 40px;
    background: #f8f8f8;
}

.deal-hero{
      background: linear-gradient(to right, #243b55, #141e30);
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}

.deal-hero h1{
    font-size: 40px;
}

.deal-hero p{
    font-size: 18px;
}

.combo-section{
    padding: 70px;
    background: #fff;
}

.combo-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.combo-card{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    transition: 0.3s;
}

.combo-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.combo-card h4{
    margin: 10px 0px;
}

.combo-card h4 span{
    text-decoration:line-through ;
    color: gray;
    margin-right:10px ;
}

.combo-card button{
    background: red;
    color: white;
    border: none;
    /* topbottom  rightleft */
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}
.combo-card button:hover{
    background: #cc0000;
}
.combo-card:hover{
    transform: translateY(-8px);
}

.deals-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.deal-card{
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
}

.deal-card h3{
    margin-bottom: 10px;
}

.deal-card span{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

.deal-card:hover{
    transform: translateY(-8px);
}

.red{
    border-top: 5px solid red;
}

.yellow{
    border-top: 5px solid yellow;
}

.green{
    border-top: 5px solid green;
}

.section-title{
    margin: 30px 0px 20px;
    font-size: 28px;
    color: #000;

}

table{
    width: 70%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

thead{
    background: red;
    color: white;
}

th,td{
    text-align: center;
    padding: 15px;
}
tbody tr{
    border-bottom: 1px solid #ddd;
}
.item {
    display: flex;
    align-items: center;
    gap: 15px;

}

.item img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.remove{
    /* color: white; */
    background: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.remove:hover{
    background: darkred;
}

.grand-total td{
    font-weight: bold;
    font-size: 18px;
}
.grand-total button{
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.grand-total button:hover{
    background: darkred;
}
.qty-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.qty-box button{
    width: 28px;
    height: 28px;
    background: red;
    color: white;
    border: none;
    font: 16px;
    border-radius: 4px;
    cursor: pointer;

}
.qty-box button:hover{
    background: #cc0000;
}

.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#000,#1c1c1c);

}

.auth-box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 8px 30px rgb(147, 131, 101);
}
.auth-box h2{

    margin-bottom: 20px;
    color: #000;
}

.auth-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.auth-box input:focus{
    border-color: red;
}
.auth-box button{
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor:pointer;
}

.auth-box button:hover{
    background-color: #f80202;
}

.auth-box p{
    margin-top: 15px;
    font-size: 14px ;
}
.auth-box a{
    color:red;
    text-decoration: none;
}

